[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "methodical"]
	path = methodical
	url = https://github.com/richardheery/methodical
